@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.home-section{
position: relative;
background: #ffffff;
min-height: 100vh;
top: 0;
left: 78px;
width: calc(100% - 78px);
transition: all 0.5s ease;
z-index: 2;
}

.sidebar.open ~ .home-section{
left: 250px;
width: calc(100% - 250px);
}

.home-section .text{
display: inline-block;
color: #11101d;
font-size: 25px;
font-weight: 500;
margin: 18px
}

/* Perintilan */

.styleonbutt{
padding-right: 12px;
}

.morebottom{
margin-top: 50px;
}

.bdr{
border-radius: 7px;
outline: solid 1px #B1588F;
overflow: hidden;
}

.firstcontainer{
    margin-top: 120px;
}

.downtoearth{
    padding-bottom: 30px;
}
.uptothesky{
    margin-top: 30px;
}
.containerbutton{
    width: 200px;
}

.widebutt{
    padding-left: 60px;
    padding-right: 60px;
}

.widebuttpanel{
    padding-left: 190px;
    padding-right: 190px;
}

.widebuttmodal{
    padding-left: 40px;
    padding-right: 40px;
}

.farfromsidebar{
    margin-left: 60px;
}

.smalldowntoearth{
    padding-bottom: 10px;
}
